.navLinkItem{
    color: #000000;
    padding-right: 1em;
    text-decoration: none;

}
.navLinkItem {
    color: #00b6fe;
    text-decoration: none;
}
.navLinkItem:hover{
    color: #20ab53;
}
.activeLink{
    color: darkorange;
}
.square {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #00b6fe;
    border-radius: 0.3em;
}
.wrapper {
    display: flex;
    width: 28rem;
    transition-duration: 1000ms;
    transform: translate(-12.5rem);
}
.wrapper:hover{
    transform: translate(0);
    transition-duration: 500ms;
}

.Error404{
    background-color: #ffffff;
    text-align: center;
}
